#wrapper,
#wrapper.home {
    max-width: 900px;
}

.post h2.headline .tags {
  text-transform: none;
}
.post h2.headline .tags a:not(:last-child):after {
  content: ', ';
}

.post figure {
    margin: 20px 0;
}
.post .embed-content {
    position: relative;
    width: 100%;
    padding: 56.25% 0 0 0;  // 9/16 = 56.25%
    margin: 2em 0;
}
.post .embed-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    width: auto;
}