#wrapper,
#wrapper.home {
    max-width: 900px;
}

.main-nav {
    position: relative;
}
.main-nav-title {
    font-size: inherit;
    position: absolute;
    top: 20px;
    left: 0;
    font-weight: normal;
}
nav.main-nav .main-nav-title a {
    font-size: 14px;
    color: #999;
}
nav.main-nav .main-nav-title a:hover {
    color: #BCD4DA;
}
.main-nav-title .fa {
    font-size: 20px;
    vertical-align: middle;
}


.post h2.headline .tags {
  text-transform: none;
}
.post h2.headline .tags a:not(:last-child):after {
  content: ', ';
}

.post figure {
    margin: 20px 0;
}
.post iframe {
    margin-bottom: 20px;
}
.post .embed-content {
    position: relative;
    width: 100%;
    padding: 56.25% 0 0 0;
    margin: 2em 0;
}
.post .embed-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#social a.symbol {
    font-size: 1.6em;
    margin: 0 .3em;
}


img {
    width: auto;
}