#wrapper,
#wrapper.home {
    max-width: 900px;
}

.logo {
    font-weight: normal;
    letter-spacing: -.6px;
}
.logo a {
    font-size: 14px;
    color: #999;
}
.logo a:hover {
    color: #BCD4DA;
}
.logo .fa {
    font-size: 150%;
    vertical-align: sub;
}

.main-nav {
    position: relative;
}
.main-nav-title {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: inherit;
}


.profile h1 {
    color: #999;
    letter-spacing: -1px;
}


.post h2.headline .tags {
  text-transform: none;
}
.post h2.headline .tags a:not(:last-child):after {
  content: ', ';
}

.post figure {
    margin: 20px 0;
}
.post iframe {
    margin-bottom: 20px;
}
.post .embed {
    width: 100%;
    margin: 2em auto;
}
.aspect16-9 {
    position: relative;
    padding: 56.25% 0 0 0;
}
.aspect16-9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#footer .logo {
    text-align: center;
}
#footer .logo a {
    font-size: 16px;
}
#social a.symbol {
    font-size: 1.6em;
    margin: 0 .3em;
}


h1 {
    letter-spacing: -.6px;
}
img {
    width: auto;
}