/*
 * 投稿のタイトル部分
 */
.post_title {
  font-size: 32px;
  color: var(--color-dark);

  @media (--media-s) {
    font-size: 24px;
  }
}
.post_meta {
  color: var(--color-light);
  font-size: 13px;
}
.post_meta .tags li {
  display: inline;
  list-style: none;
}


/*
 * 投稿本文
 */
.post_content {
  line-height: 1.8;

  & :--heading {
    margin: 2em 0 1em;
    line-height: 1.6;
  }
  & :--heading + :--heading {
    margin-top: 0;
  }

  & h1 {
    font-size: 26px;
  }
  & h2 {
    font-size: 23px;
  }


  & code {
    display: inline-block;
    font-size: 14px;
    font-family: menlo, monaco, monospace;
    background-color: var(--color-bg-light);
    padding: 0 4px;
    border-radius: 3px;
  }

  & pre code {
    display: block;
    width: 100%;
    padding: 10px;
  }

  & blockquote {
    padding: 1px 20px;
    margin: 1em 0;
    border-left: 5px solid var(--color-border);
  }

  & :matches(ul, ol) {
    padding-left: 40px;

    @media (--media-s) {
      padding-left: 25px;
    }
  }

  & li {
    margin: 5px 0;
  }

  & img {
    border-radius: 3px;
    margin: 1em 0;
  }

  & iframe {
    margin: 1em auto;
  }

  & figure > img {
    display: block;
    margin: 1em auto;
  }

  & table {
    width: 100%;
    font-size: 13px;
    border-top: 1px solid var(--color-border);
    margin: 20px 0;
  }
  & tr {
    border-bottom: 1px solid var(--color-border);
  }
  & table tr:nth-child(odd) > td {
    background-color: var(--color-bg-light);
  }
  & :matches(td, th) {
    padding: 10px 1em;
  }
  & th {
    font-weight: bold;
  }
  & td {
  }

  & iframe {
    margin: 20px 0;
  }

  & .embed {
    width: 100%;
    margin: 2em auto;
  }
  & .aspect16-9 {
    position: relative;
    padding: 56.25% 0 0 0;
  }
  & .aspect16-9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.post_content > :first-child {
  margin-top: 0;
}
