<!DOCTYPE html>
<html lang="ja">
{{ partial "header.html" . }}

<body class="list">
<div class="wrapper">
  {{ partial "nav.html" . }}

  {{ if .IsHome }}
    <h1 class="hero">
      <a href="/" class="hero_title altColor">
        <img class="hero_image" src="/images/icon.png" alt="site logo">
        <p>{{ .Site.Title }}</p>
      </a>
    </h1>
  {{ else }}
    <header class="postHeader">
      <h1 class="postTitle">{{ .Title }}</h1>
      <p>archives</p>
    </header>
  {{ end }}


  <main>
    <ul class="postList">
      {{ $paginator := .Paginate (where .Data.Pages "Section" "in" "post link") }}

      {{ range $paginator.Pages }}
        {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if and (ne $url "about/") }}
          {{ partial "post-card.html" . }}
        {{ end }}
      {{ end }}
    </ul>

    {{ partial "pagination.html" . }}
  </main>
</div>


{{ partial "footer.html" . }}
</body>
</html>
