{{ if .IsNamedParams }}

<figure class="embed amazon{{ with .Get "class" }} {{.}}{{ end }}">
  <a href="//a.monaural.net/?a={{ .Get "asin" }}">
    <span class="embed_image">
      <img src="{{ with .Get "image" }}{{.}}{{ else }}https://images-fe.ssl-images-amazon.com/images/P/{{ .Get "asin" }}.09.LZZZZZZZ{{ end }}" alt="">
    </span>
  </a>
  {{ with .Get "title" }}
  <figcaption><h4>{{ . }}</h4></figcaption>
  {{ end }}
</figure>

{{ else }}

<figure class="embed amazon">
  <a href="//a.monaural.net/?a={{ index .Params 0 }}"><img src="https://images-fe.ssl-images-amazon.com/images/P/{{ index .Params 0 }}.09.LZZZZZZZ" alt=""></a>
</figure>

{{ end }}
