// footer

.footer {
  position: relative;
  text-align: center;
  margin: 0 auto 60px;
  padding: 0 10px;
}


// footer logo
.footerLogo {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: -1px;
  background: linear-gradient(to bottom, $color-bg, rgba($color-bg, .95) 55%, rgba($color-bg, .85) 80%, rgba($color-bg, 0.7));
  padding: 1em;

  margin: 200px auto;
}


// author
.author {
  margin: 30px auto;
  font-size: $fz-s;
  img {
    height: 1.2em;
    width: auto;
    margin: 0 .3em;
    vertical-align: text-bottom;
  }
}


// social icons
.socialIcons {
  margin: 30px auto;
  font-size: $fz-xl;

  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}
