/* global */

body {
  font: $fz-m "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $color;
  background-color: $color-bg;
  margin: 0;
  padding: 0 10px;
}


a {
  color: $color-link;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    color: $color-link-hover;
  }
}

a.altColor {
  color: $color-link-alt;

  &:hover {
    color: $color-link-alt-hover;
  }
}

img {
  max-width: 100%;
}

hr {
  border: none;
  background-color: $color-border;
  height: 1px;
  margin: 50px 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h4, h6 {
  letter-spacing: -.6px;
  line-height: 1.4;
}
