// header

.wrapper {
  position: relative;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 0;
  background: linear-gradient(to bottom, $color-bg, rgba($color-bg, .95) 33%, rgba($color-bg, .9));
  text-align: right;
  padding: 1em;
  margin-top: .5em;
  font-size: $fz-s;
  line-height: 1;

  li {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 1em;
    }
  }
}


.headerLogo {
  position: absolute;
  top: 12px;
  left: 16px;

  font-weight: 300;
  letter-spacing: -.6px;
  line-height: 1.4;
}


.sideMenu {
  position: relative;

  .sideMenu_button {
    cursor: pointer;
    display: inline-block;
    max-width: 3px;
    padding: 0 10px;
  }
  #sideMenu_checkbox {
    display: none;
  }
  .sideMenu_body {
    display: block;
    position: absolute;
    right: -7px;
    top: 2em;
    height: 0;
    overflow: hidden;

    background-color: rgba($color-bg, .9);
    border-radius: 0 0 4px 4px;
    min-width: 166px;
    transition: height .1s linear;

    form {
      padding: 5px;
    }
  }

  #sideMenu_checkbox:checked ~ .sideMenu_body {
    height: 33px;
  }

  .search_input {
    width: 120px;
    font-size: inherit;
    border: 1px solid darken($color-border, 10);
    border-radius: 2px;
    padding: 2px;
  }
  .search_button {
    color: $color;
    font-size: inherit;
    background: none;
    border: none;
    cursor: pointer;
  }
}


.hero {
  text-align: center;
  padding-bottom: 20px;

  .hero_title {
    display: block;
    width: 80px;
    margin: 0 auto;
    font-size: $fz-xl;
    font-weight: 300;
  }

  p {
    margin: 15px 0 0;
  }
}

.postHeader {
  text-align: center;
}

.hero, .postHeader {
  margin: 100px 0;

  @include mq(ml) {
    margin: 130px 0;
  }
}
