// header

.wrapper {
  position: relative;
}

.header {
  position: sticky;
  z-index: 1000;
  top: 0;
  background: linear-gradient(to bottom, $color-bg, rgba($color-bg, .95) 55%, rgba($color-bg, .85) 80%, rgba($color-bg, 0.7));
  text-align: right;
  padding: 1em 2em;
  margin-top: 1em;
  font-size: $fz-s;

  li {
    display: inline-block;
    margin-left: 2em;
  }
}


.headerLogo {
  position: absolute;
  top: 2px;
  left: 16px;
}


.hero {
  text-align: center;
  font-size: $fz-xl;
  padding-bottom: 20px;

  .hero_image {
    width: 80px;
    display: block;
    margin: 0 auto 20px;
  }
}

.postHeader {
  text-align: center;
}

.hero, .postHeader {
  margin: 100px 0;

  @include mq(ml) {
    margin: 130px 0;
  }
}
