// header

.header {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: rgba($color-bg, .95);
  text-align: right;
  padding: 1em 2em;
  margin-top: 1em;
  font-size: $fz-s;

  li {
    display: inline-block;
    margin-left: 2em;
  }
}


.headerLogo {
  position: absolute;
  top: 2px;
  left: 16px;
}


.hero {
  margin: 130px 0 150px 0;
  text-align: center;
  font-size: $fz-xl;
  font-weight: normal;

  .hero_image {
    width: 80px;
    display: block;
    margin: 0 auto 20px;
  }
}
