// others

// main width
.list main {
  max-width: $layout-main-width;
  margin: 0 auto;
}

.post main,
.tags main,
.notfound main {
  max-width: $layout-main-post-width;
  margin: 0 auto;
}


// small logo
.smallLogo {
  font-size: $fz-s;
  img {
    height: 1.5em;
    width: auto;
    vertical-align: middle;
    margin-right: 0.2em;
  }
}


// postcard
.postCard {
  overflow: hidden;

  .postTitle {
    margin: 0.3em 0;
    font-size: $fz-l;
    font-weight: 300;

    @include mq(l) {
      font-size: $fz-xl;
    }
  }

  .postMeta {
    font-size: $fz-xs;
  }

  // tags
  .tags {
    display: none;
    @include mq(l) {
      display: block;
      margin-top: 0.4em;

      .tag {
        display: inline-block;
        &:not(:last-child) a:after {
          content: ', ';
        }
      }
    }
  }
}


// postcard thumbnail
.postThumbnail {
  width: 100%;
  height: 0;
  padding-bottom: percentage(180/320);
  background-size: cover;
  background-position: center;
}

a:hover .postThumbnail {
  animation: postThumbnailHover .3s;
}

@keyframes postThumbnailHover {
  20% {filter: blur(3px) brightness(125%); }
}


// recent posts
.recentPosts {
  margin-bottom: 60px;
  text-align: center;

  .recentPostsList {
    overflow: hidden;
  }

  .recentPosts_header {
    font-size: $fz-xl;
  }

  .postCard {
    text-align: left;
    margin-bottom: 30px;

    float: left;
    width: calc((100% - 20px) / 2);
    margin-left: 20px;

    @include mq(sm) {
      &:nth-child(2n+1) {
        clear: left;
        margin-left: 0;
      }
    }

    @include mq(l) {
      width: calc((100% - 60px) / 4);
      &:nth-child(4n+1) {
        clear: left;
        margin-left: 0;
      }
    }

    .postTitle {
      font-size: $fz-l;
    }
  }
}


// taglist (tag page)
.tagList {
  text-align: center;

  .tagList_item {
    display: inline-block;
    margin: 0 2em 2em 0;
    font-size: $fz-m;

    @include mq(l) {
      font-size: $fz-l;
    }

    small {
      font-size: $fz-xs;
    }
  }
}
