// main width
.list main {
  max-width: $layout-main-width;
  margin: 0 auto;
}
.post main {
  max-width: $layout-main-post-width;
  margin: 0 auto;
}

// small logo
.smallLogo {
  font-size: $fz-s;
  img {
    height: 1.5em;
    width: auto;
    vertical-align: middle;
    margin-right: 0.2em;
  }
}
