<nav class="globalNav">

  {{ if not .IsHome}}
    <h1 class="globalNav_title"><a href="{{ .Site.BaseURL }}" class="icon logo"><img src="/assets/images/favicon.ico" alt="{{ .Site.Title }}"> {{ .Site.Title }}</a></h1>
  {{ end }}

  <ul class="globalNav_list">
    <li><a href='{{ .Site.BaseURL }}post'>{{ with .Site.Params.archive }}{{ . }}{{ else }}Archive{{ end }}</a></li>
    <li><a href='{{ .Site.BaseURL }}tags'>{{ with .Site.Params.about }}{{ . }}{{ else }}Tags{{ end }}</a></li>
    <li><a href='{{ .Site.BaseURL }}about'>{{ with .Site.Params.about }}{{ . }}{{ else }}About{{ end }}</a></li>
    {{ range $key, $val := .Site.Params.Links }}
      <li><a href="{{ $val }}">{{ $key }}</a></li>
    {{ end }}
  </ul>
</nav>
