<ul class="postList">
  {{ $paginator := .Paginate (where .Data.Pages "Section" "in" "post link") }}
  {{ range $paginator.Pages }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
    {{ if and (ne $url "about/") }}
      <li>
        <a href="{{ .Permalink }}"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2 2006" }}</time></a>
        {{ partial "tags.html" . }}
        <h2 class="postList_title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      </li>
    {{ end }}
  {{ end }}
</ul>
