<section class="recentPosts">
  <h4>Recent Posts</h4>
  <ul class="postList postList-small">
    {{ range first 5 (where .Site.Pages "Params.hidden" "ne" "true") }}
      {{ $url := replace .Permalink .Site.BaseURL "" }}
      {{ if and (ne $url "about/") }}
        <li>
          <a href="{{ .Permalink }}"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2 2006" }}</time></a>
          <h5 class="postList_title"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</section>
