<footer class="footer">
  <div class="smallLogo footerLogo">
    <a href="{{ .Site.BaseURL }}" class="altColor"><img src="/images/favicon.svg" alt="{{ .Site.Title }}"> {{ .Site.Title }}</a>
  </div>


  {{ if not .IsHome }}
    {{ partial "recent-posts.html" . }}
  {{ end }}


  {{ with .Site.Author }}
    <div class="author">
      <img src="{{ .image }}" alt="author"> by {{ .name | safeHTML }}
    </div>
  {{ end }}


  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {{ if .Site.Social }}
    <ul class="socialIcons">
      {{ range $key, $val := .Site.Social }}
       <li><a href="{{ $val }}" class="altColor"><i class="fa fa-{{ $key }}"></i></a></li>
      {{ end }}
    </ul>
  {{ end }}

  <div class="footer_ad">
    {{ partial "ad/responsive.html" . }}
  </div>

</footer>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5TJGHVN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
