<footer class="footer">
  <div class="smallLogo footerLogo">
    <a href="{{ .Site.BaseURL }}" class="altColor"><img src="/images/icon.png" alt="{{ .Site.Title }}"> {{ .Site.Title }}</a>
  </div>


  {{ if not .IsHome }}
    {{ partial "recent-posts.html" . }}
  {{ end }}


  {{ with .Site.Author }}
    <div class="author">
      <a href="/about"><img src="{{ .image }}" alt="author"> by {{ .name }}</a>
    </div>
  {{ end }}


  {{ if .Site.Social }}
    <ul class="socialIcons">
      {{ range $key, $val := .Site.Social }}
       <li><a href="{{ $val }}" class="altColor"><i class="fa fa-{{ $key }}"></i></a></li>
      {{ end }}
    </ul>
  {{ end }}
</footer>
