<ul class="postList">
  {{ $paginator := .Paginate (where .Data.Pages "Section" "in" "post link") }}

  {{ range $paginator.Pages }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}

    {{ if and (ne $url "about/") }}
      <li class="postList_item">
        <a href="{{ .Permalink }}" class="altColor">
          <div class="postThumbnail" style="background-image:url({{ trim (index (split (partial "thumbnail.html" .) "|") 0) "\n" | relURL }})"></div>
          <h2 class="postTitle">{{ .Title }}</h2>

          <div class="postMeta">
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan. 2, 2006" }}</time>
          </div>
        </a>
      </li>
    {{ end }}
  {{ end }}
</ul>
