<section class="recentPosts">
  <h4 class="recentPosts_header">Recent Posts</h4>
  <ul>
    {{ range first 4 (where .Site.Pages "Params.hidden" "ne" "true") }}
      {{ $url := replace .Permalink .Site.BaseURL "" }}
      {{ if and (ne $url "about/") }}
        <li class="recentPosts_item">
          <a href="{{ .Permalink }}" class="altColor">
            <img src="{{ with .Params.image }}{{ . }}{{ else }}/images/ogp.png{{ end }}" alt="{{ .Title }}">
            <h2 class="postTitle">{{ .Title }}</h2>
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2 2006" }}</time>
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</section>
